.form-control {
  border: none;
  background-color: #F9C784;
  padding: 1rem 1.2rem;
  width: 30vw;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0, .1);
}

.form-control:focus {
  outline: none;
  color: white;
}

.form-control::placeholder {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}