.messageBox-container {
  width: 60%;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(255,255,255, .2);
}

.messageBox-container ul {
  list-style: none;
}

.messageBox-container ul li {
  margin-bottom: 1rem;
}

.messageBox-container h3 {
  font-weight: 300;
  letter-spacing: 2px;
}